@{
    ViewBag.Title = "Home Page";
}
<head>
    <link rel="stylesheet" href="~/Content/Site.css" />
</head>

<div class="jumbotron">
    <h1 style="font-family:'Arthes';">>:ARTHESANATUS</h1>
    <hr/>
</div>


<div class="row">
    <div class="col-md-4">
        <div class="thumbnail">
            <img src="~/Content/img/index-almofada.jpg">

            <h2 data-toggle="collapse" data-target="#texto-01">: Almofadas</h2>
            <p id="texto-01" class="collapse in">
                As Almofadas para sofá são partes importantíssimas da decoração da sua casa.
                Em relação aos demais móveis, esses pequenos detalhes são responsáveis por deixar
                tanto o ambiente mais aconchegante quanto por dar ainda mais vida a ele.
                Por isso, para escolher os modelos ideais de almofadas para sofá ou cama.
            </p>

            <p><a class="btn btn-info" href="https://go.microsoft.com/fwlink/?LinkId=301865">Outras Almofadas... &raquo;</a></p>
        </div>
    </div>
    <div class="col-md-4">
        <div class="thumbnail">
            <img src="~/Content/img/index-bolsa.jpg">
            <h2 data-toggle="collapse" data-target="#texto-02">: : Bolsas</h2>
            <p id="texto-02" class="collapse in">
                A Bolsa Colori é bolsa de mulher chique, encantadora, graciosa e divertida.
                Ela é ideal para encontros com as amigas, ou ambientes que revelem sua descontração.
                Além de levar todas as coisas básicas importantes para a sobrevivência da mulher,
                ela combina facilmente com saias ou calças.
            </p>
            <p><a class="btn btn-info" href="https://go.microsoft.com/fwlink/?LinkId=301866">Outras Bolsas... &raquo;</a></p>
        </div>
    </div>
    <div class="col-md-4">
        <div class="thumbnail">
            <img src="~/Content/img/index-boneca.jpg">
            <h2 data-toggle="collapse" data-target="#texto-03">: : : Bonecas</h2>
            <p id="texto-03" class="collapse in">
                Amigurumi é uma palavra inventada pelos japoneses, que significa criatura recheada,
                então, como já disse lá em cima, é um bichinho, boneco, brinquedo ou objeto feitos de crochê
                só que em 3D e com enchimento tipo um bichinho de pelúcia ou bichinho de feltro
                a diferença é que é feito com linha e agulha.
            </p>
            <p><a class="btn btn-info" href="https://go.microsoft.com/fwlink/?LinkId=301867">Outras Bonecas... &raquo;</a></p>
        </div>
    </div>
    <script src="~/Scripts/bootstrap.js"></script>
    <script src="~/Scripts/jquery-3.4.1.js"></script>
</div>